In [1]:
%pip install duckdb===0.9.2

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting duckdb===0.9.2
  Downloading duckdb-0.9.2-cp39-cp39-macosx_10_9_x86_64.whl (15.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 5.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: duckdb
  Attempting uninstall: duckdb
    Found existing installation: duckdb 0.10.1
    Uninstalling duckdb-0.10.1:
      Successfully uninstalled duckdb-0.10.1
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed duckdb-0.9.2

[notice] A new release of pip available: 22.1.2 -> 24.0
[notice] To update, run: python3.9 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [10]:
import duckdb
con = duckdb.connect(database='./src/data/output-tables.db')
con.execute('SELECT version()').fetchall()

[('v0.9.2',)]

In [7]:
con.execute('''
INSERT INTO data_metrics__count_c_pt_count
VALUES (20, '1982', 'unknown', 'cumulus__none', 'cumulus__none', 'cumulus__none')
''').df()

   Count
0      1

In [18]:
con.execute('''
SELECT * FROM "data_metrics__count_c_resource_count_allergyintolerance_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_diagnosticreport_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_documentreference_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_immunization_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_medicationrequest_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_observation_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_procedure_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_condition_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_encounter_year" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_medication_all" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_patient_all" UNION BY NAME SELECT * FROM "data_metrics__count_c_resource_count_device_all"
''').df()

      cnt       category  year     status       type
0      21           None  1993   finished  162673000
1      52           None  2012   finished  162673000
2       9           None  2014   finished  424619006
3      31           None  2011   finished  185345009
4       9           None  1990   finished  185349003
...   ...            ...   ...        ...        ...
1220    6  cumulus__none  1997     active       None
1221    1  cumulus__none  1939     active       None
1222   39  cumulus__none  2002    stopped       None
1223    1           food  1991  confirmed       None
1224    3           None  2006  completed       None

[1225 rows x 5 columns]

In [8]:
con.close()